<div id="video" class="jumbotron vertical-center">
	<div class="container">
		<h1>Travel-Zine</h1>

		<p>There are currently <%= @users.length %> users signed up.</p>
		  
		<% if current_user %>
			<button class='btn btn-default'><%= link_to "Logout", logout_path, method: :delete %></button>
		<% else %>
			<button class='btn btn-default'><%= link_to "Signup", signup_path, method: :get %></button>
			<button class='btn btn-default'><%= link_to "Login", login_path %></button>
		<% end %>
	</div>
</div>
  
