/*
 *= require rails_bootstrap_forms
 */
body{
	padding-top: 50px;
}

img {
	max-width: 500px;
	max-height: 500px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	text-align: center;
	align-items: center;

}

.btn{

	background: transparent;
	color: #F2F2F2;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

#video {
	position: relative;
	width: 100%;
	min-height: 100%;
}
#welcome {
	position: fixed;
	color: #F2F2F2;
	left: 2.5%;
	top: 40%;
}
#form {
	opacity: 0.9;
	background-color: #7ABAB1;
	border-radius: 15px;
}
#form_page {
	background-size: cover;
	background-image: url(http://i.imgur.com/jYUPXsz.jpg);
}








