<%= form_for [@city, @log] do |f| %>

  <div>
    <%= f.text_field :title, placeholder: "Title" %><br>
    <%= f.text_area :body %>
  </div>
  

    <%= f.submit "Save Changes", :class => "btn btn-success" %>

<% end %>